.body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    width: 60vw;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
    &__fields{        
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 50%;
        gap: .5rem;
        button{
            width: 100%;
        }
    }
}
.pictureContainer{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 5px dashed gray;
    .mat-icon {
        color: gray;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 75px;
        width: 75px;
        font-size: 75px;
    }    
}
.picture{
    border: 2.5px solid gray;
    border-radius: 5px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    height: 300px;
    width: 300px;
}
.error{
    color: red
}