
body {
  font-family: IbarraLetter;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.title {
  text-align: center;
}

.form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: 600;
}

.input, .textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 100px;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.button:hover {
  background-color: #0056b3;
}
.submit-button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
