<div [formGroup]="filterForm">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 p-1 pb-[1.0938rem] px-4 my-5">
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" placeholder="Festival Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput formControlName="venue" placeholder="Venue" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput formControlName="location" placeholder="Location" />
    </mat-form-field>
  </div>
</div>
