@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:host {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 25%;
    }
  }
  img {
    width: 50%;
  }
}

.disabled {
  opacity: 0.2;
}
