<div class="section">
  <mat-card class="card">
    <mat-card-header class="card-header">Our History</mat-card-header>
    <div class="card-content">
      <mat-card-content class="card-text">
        Aitaca was born with the dream of improving the quality of life for many
        people and the idea of bringing artificial intelligence to any remote
        corner of the world. Without losing that essence, we have built a tool
        to enhance the processes of many companies. Our goal is to strive for AI
        to make a significant impact.
      </mat-card-content>
      <div class="card-image">
        <img
          src="../../assets/images/ourHistory.jpeg"
          alt="Our History image"
        />
      </div>
    </div>
  </mat-card>
</div>

<div class="section">
  <mat-card>
    <mat-card-header class="card-header">Our Philosophy</mat-card-header>
    <div class="card-content">
      <mat-card-content class="card-text">
        Aitaca was born with the dream of improving the quality of life for many
        people and the idea of bringing artificial intelligence to any remote
        corner of the world. Without losing that essence, we have built a tool
        to enhance the processes of many companies. Our goal is to strive for AI
        to make a significant impact.
      </mat-card-content>
      <div class="card-image">
        <img
          src="../../assets/images/ourPhilosophy.jpeg"
          alt="Our Philosophy image"
        />
      </div>
    </div>
  </mat-card>
</div>
