/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'IbarraLetter';
  src: url(./assets/fonts/IbarraRealNova-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'IbarraLetterItalic';
  src: url(./assets/fonts/IbarraRealNova-Italic-VariableFont_wght.ttf);
}
