<mat-toolbar color="primary">
  <span class="logo-container">
    <img src="../../assets/images/logo_loading.png" alt="aitaca image" />
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <!--This for links for other components-->
  <div>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-raised-button color="accent" routerLink="/book-a-demo">
      Book a demo
    </button>
  </div>
</mat-toolbar>
