<mat-card
  class="p-6 bg-white shadow-xlrounded-[28px] border border-[#82D7DE] cursor-pointer"
>
  <mat-card-header>
    <div mat-card-avatar class="w-16 cover">
      <img
        [src]="
          'https://www.shutterstock.com/image-vector/music-city-skyline-logo-design-260nw-2104738778.jpg'
        "
      />
    </div>
    <mat-card-title>{{ event.name }}</mat-card-title>
    <mat-card-subtitle>
      <p><span class="text-[#2196f3]">Date:</span> {{ $any(event.date) | timestampToDate }}</p>
      <p><span class="text-[#2196f3]">Venue:</span> {{ event.venue }}</p>
      <p><span class="text-[#2196f3]">Location:</span>{{ event.location }}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider class="mt-5"></mat-divider>

  <mat-card-content [title]="event.description" class="my-4">
    {{ event.description }}
  </mat-card-content>
</mat-card>
