<mat-card *ngIf="demoService.submittedData">
  <mat-card-header>
    <mat-card-title>Submitted Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Name: {{ submittedData.name }}</p>
    <p>Email: {{ submittedData.email }}</p>
    <p>Phone: {{ submittedData.phone }}</p>
    <p *ngIf="submittedData.activityArea">
      Activity area: {{ submittedData.activityArea }}
    </p>
    <p *ngIf="submittedData.message">message: {{ submittedData.message }}</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!demoService.submittedData">
  <mat-card-content>There is no data available</mat-card-content>
</mat-card>
