<ng-container *ngIf="event$ | async as event">
  <div class="bg-[#0001] h-full w-full text-center">
    <div class="py-3">
      <h1 class="font-serif font-bold text-[#2196f3]">
        {{ event.pack.type }} - {{ event.name }}
      </h1>
    </div>
    <div>
      <h2>
        <span class="text-[12px] font-semibold">{{
          $any(event.date) | timestampToDate
        }}</span>
        <span class="text-[12px] ml-2">{{ event.pack.price }} $</span>
      </h2>
    </div>
    <div class="flex justify-center py-5 cover">
      <img
        [src]="
          'https://www.shutterstock.com/image-vector/music-city-skyline-logo-design-260nw-2104738778.jpg'
        "
      />
    </div>
    <div class="flex justify-center py-5">
      <p class="w-[80%] mx-auto font-serif">
        {{ event.description }}
      </p>
    </div>

    <div class="flex justify-center py-5" *ngIf="isTicketBought$ | async">
      <button
        mat-raised-button
        class="text-[#fafafa] font-bold rounded-full bg-[#2196f3] w-[20%] mx-auto"
        (click)="buyTicket()"
      >
        Buy Ticket
      </button>
    </div>
  </div>
</ng-container>
