:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  .container-card {
    padding: 1.5rem;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #f8c3cd67;
    box-shadow: 2px 2px 20px black;
    .img-garment {
      width: 50%;
      height: auto;
    }
    h2 {
      font-size: 1.2emem;
      font-weight: 600;
    }
    h3 {
      font-weight: 500;
    }
    .container-incons {
      display: flex;
      gap: 1rem;
      span {
        cursor: pointer;
      }
    }
  }
}
