<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="my-5 text-center">
    <p class="font-bold">{{ 'authentication.newPassword' | translate }}</p>
  </div>
  <div class="flex flex-col gap-5">
    <mat-form-field subscriptSizing="dynamic" appFieldControlLabel>
      <mat-label>
        {{ 'authentication.newPassword' | translate }}
      </mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        autocomplete="new-password"
      />
      <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
        {{ 'error.required' | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          form.controls['newPassword'].hasError('lowerCaseCharactersRequired')
        "
      >
        {{ 'authentication.lowerCaseCharactersRequired' | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          form.controls['newPassword'].hasError('specialCharactersRequired')
        "
      >
        {{ 'authentication.specialCharactersRequired' | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          form.controls['newPassword'].hasError('upperCaseCharactersRequired')
        "
      >
        {{ 'authentication.upperCaseCharactersRequired' | translate }}
      </mat-error>
      <mat-error
        *ngIf="form.controls['newPassword'].hasError('numbersRequired')"
      >
        {{ 'authentication.numbersRequired' | translate }}
      </mat-error>
      <mat-error
        *ngIf="form.controls['newPassword'].hasError('passwordLength')"
      >
        {{
          'authentication.passwordLength'
            | translate : { length: PASSWORD_MIN_LENGTH }
        }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appFieldControlLabel>
      <mat-label>
        {{ 'authentication.passwordConfirmation' | translate }}
      </mat-label>
      <input
        matInput
        type="password"
        formControlName="newPasswordConfirmation"
        autocomplete="new-password"
      />
      <mat-error
        *ngIf="form.controls['newPasswordConfirmation'].hasError('required')"
      >
        {{ 'error.required' | translate }}
      </mat-error>
      <mat-error *ngIf="form.hasError('passwordsMustBeEqual')">
        {{ 'authentication.passwordsMustBeEqual' | translate }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mb-5" type="submit">
      {{ 'commun.save' | translate }}
    </button>
    <div
      class="bg-warn text-center text-white"
      *ngIf="(error$ | async)?.messageToShow as messageToShow"
    >
      {{ messageToShow }}
    </div>
  </div>
</form>
