<form [formGroup]="resetForm">
  <div class="grid">
    <div class="col-12">
      <div class="flex card justify-content-center">
        <mat-card [style]="{ width: '360px' }">
          <mat-card-header class="flex justify-center mt-3">
            <mat-card-title class="text-[#2196f3]"
              >Reset Password</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <div class="flex justify-center mt-3">
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions class="flex justify-center">
            <button mat-raised-button color="primary" (click)="sendResetLink()">
              Reset Password
            </button>
          </mat-card-actions>
          <mat-card-actions class="flex justify-center">
            <a class="mx-3 my-3 text-[#2196f3]" routerLink="/sign-up"
              >Don't have an account? Sign Up here!</a
            >
            <a class="mx-3 my-3 text-[#2196f3]" routerLink="/login"
            >Already have an account? Login Here</a
          >
          </mat-card-actions>
          <!-- <mat-card-actions class="flex justify-center mx-3">

          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>
</form>
