<section class="footer">
  <div class="section">
    <div class="list">
      <h3>Tienda</h3>
      <p>Localiza una tienda</p>
      <p>Trabaja con nosotros</p>
      <p>Empresa</p>
    </div>
    <div class="list">
      <h3>Contacto</h3>
      <p>Teléfono: 654987321</p>
      <p>Socios</p>
      <p>aitacaclothes@aitaca.com</p>
    </div>
  </div>
  <div class="section">
    <div class="terms">
      <p>Política de privacidad</p>
      <p>Términos y condiciones</p>
    </div>
  </div>
</section>
