<nav class="bg-[#0000] w-full">
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
  >
    <div></div>
    <div class="flex items-center md:order-2">
      <div *ngIf="userData$ | async as user" class="">
        <p class="text-[#2196f3] flex justify-center pr-4">{{ user.displayName }}</p>
        <p class="text-[#2196f3] flex justify-center pr-4">{{ user.email }}</p>
      </div>
      <button mat-button class="flex" [matMenuTriggerFor]="menu">
        <img
          class="w-8 h-8 border-2 border-teal-500 border-solid rounded-full"
          [src]="
            'https://via.placeholder.com/100'
          "
        />
        <mat-icon class="mr-2 align-middle transform scale-75 cursor-pointer"
          >expand_more</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Reservation</button>
        <button mat-menu-item (click)="signOut()">logout</button>
      </mat-menu>
    </div>
  </div>
</nav>
